/* Estilos globales */
:root {
    --fuenteHeading: 'Cinzel', serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #d9a50b;
    --secundario: #91a780;
    --gris: #757575;
}

html {
    box-sizing: border-box;
    font-size: 60.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-image: linear-gradient(to top, var(--secundario) 94%, var(--blanco) 100%);
}

/* Estilos para varias pantallas */
.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    color: var(--blanco);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* Header */
.logo img {
    width: 13rem;
}

.barra {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__texto {
    background-image: url(../img/imgrural1.jpg);
    height: 40rem;
    width: 100%;
    text-align: center;
    color: var(--blanco);
    margin-top: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .header__texto {
        height: 60rem; 
        margin-top: 2rem; 
    }
}

.titulo {
    text-align: center;
    font-size: 3rem; 
}

.subtitulo {
    text-align: center;
    font-size: 1.6rem; 
    margin-top: 1rem; 
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.mision {
    text-align: center;
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--oscuro);
}

.boton--secundario {
    background-color: var(--oscuro);
}

.sidebar {
    text-align: center;
}

.casasmasbuscadas {
    list-style: none;
}

.widget-casasmasbuscadas {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    text-align: center;
}

.widget-casasmasbuscadas:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-casasmasbuscadas__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-casasmasbuscadas__info {
    font-weight: normal;
}

.widget-casasmasbuscadas__label,
.widget-casasmasbuscadas__info {
    font-size: 2rem;
}

.imagenmasbuscada {
    max-width: 100%;
    height: auto;
}

/* Footer */
.footer {
    padding-bottom: 2rem;
    margin-top: 2rem;
    background-image: linear-gradient(to top, var(--secundario) 50%, var(--blanco) 100%);
}

/* Sobre Nós */
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* Casas */
.casas {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .casas {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.casas:last-of-type {
    border: none;
}

.casas__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.casas__info {
    font-weight: normal;
}

.casas__label,
.casas__info {
    font-size: 2rem;
}

.imagencasas {
    max-width: 100%;
    height: auto;
}

/* Formulário */
.formulario {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 0.4rem solid var(--gris);
    background-color: transparent;
    color: var(--oscuro);
    font-size: 2rem;
    font-family: var(--fuenteParrafos);
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuenteHeading);
    padding: 2rem;
    transition: background-color 0.3s ease;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--primario);
}

/* Sobre Nós */
@media (min-width: 768px) {
    .casasdetalles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding: 2rem;
    }
}

.imgcasadetalle {
    max-width: 100%;
    height: auto;
}

.contacto-bg {
    background-image: url(../img/fotocontacto.jpeg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulariocontacto {
    background-color: var(--secundario);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    border: solid var(--gris);
}

.campo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}