// Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// Colores 
$verde: #228B22;
$rosa: #50010e;
$amarillo:#FFD700;
$morado: #a75fcb;
$negro: #000000;
$blanco:#ffff;


// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;